models/
results/
wandb/
pycache/
data/LOGIC
data/fallacyRecognition
data/binary
data/argumentation/train.tsv
logicalfallacies
GPTprompt.ipynb
output_fallacies.py
runs/
outputs/
cache_dir/
.env
.ipynb_checkpoints/
data/
flan_t5_base_model/
.cache/